.story-card {
  position: relative;
  background-color: var(--clr-background);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.2s ease;

  @include mq.media-breakpoint-between(xs, xl) {
    max-width: 22.5rem;
  }

  @include mq.media-breakpoint-up(md) {
    &:nth-child(odd) {
      justify-self: end;
    }

    &:nth-child(even) {
      justify-self: start;
    }
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 10px rgb(var(--clr-primary-rgb), 0.2);
  }

  &__body {
    transition: padding 0.3s ease;
  }

  &:hover &__body {
    padding: 0 0.3125rem 0.3125rem 0.3125rem;
  }

  &__img {
    position: relative;
  }

  &__title {
    position: relative;
    font-family: var(--ff-heading);
    font-weight: var(--fw-bold);
    line-height: 1;
    transition: margin-block-start 0.2s ease, color 0.3s ease 0.1s;
    z-index: 0;

    @include mq.media-breakpoint-between(xs, md) {
      font-size: 1.5rem;
      margin-block-start: 1.25rem;
      padding-block: 1.25rem;
      padding-inline-end: 6.25rem;
    }

    @include mq.media-breakpoint-between(md, xl) {
      font-size: 1.7rem;
      margin-block-start: 1.375rem;
      padding-block: 1.375rem;
      padding-inline-end: 6.25rem;
    }

    @include mq.media-breakpoint-up(xl) {
      font-size: 2.375rem;
      margin-block-start: 1.9375rem;
      padding-inline-end: 3.75rem;
      padding-block-start: 1.6875rem;
      padding-block-end: 1.5rem;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      height: 3px;
      width: 2.5rem;
      background-color: var(--clr-primary);

      @include mq.media-breakpoint-up(xl) {
        width: 3.125rem;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: calc(100% + 15px * 2);
      transform: translateX(-15px) scaleY(0);
      transform-origin: top center;
      background-color: var(--clr-primary);
      transition: all 0.3s ease 0.1s;
      z-index: -1;
    }
  }

  &:hover &__title {
    color: var(--clr-neutral-100);
    margin-block-start: 0;

    &::after {
      transform: translateX(-15px) scaleY(1);
    }
  }

  &__text {
    position: relative;
  }
}
